params {
    // Input data
    reads = "test_data/sample1_R{1,2}.fastq.gz"
    genome = "test_data/test_genome.fa"
    annotation = "test_data/test_annotation.gtf"
    
    // Output directory
    outdir = "results"
    
    // Workflow options
    aligner = "star"
    paired_end = true
    
    // Resource settings for test profile
    max_memory = "2.GB"
    max_cpus = 2
    max_time = "1.h"
} 